<?xml version="1.0" encoding="UTF-8"?>
	<configuration xmlns="http://java.sun.com/xml/ns/jax-rpc/ri/config">
	<service
		name="HoroscopeWebService"
		targetNamespace="urn:Foo"
		typeNamespace="urn:Foo"
		packageName="horoscope">
		<interface name="horoscope.HoroscopeInterface"/>
	</service>
</configuration>
